*{
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#app {  
  max-width: 970px;
  padding: 0 15px;
  margin: 60px auto 60px;
}

h1,
h2 {
  font-weight: normal;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #42b983;
}
p {
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
}
.title {
  text-align: center;
  margin-bottom: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.logo {
  color: #2c3e50;
  text-decoration: none;
  font-size: 26px;
  transition: all .3s;
  &:hover {
    color: #42b983;
  }
}
.posts-per-page {
  display: flex;
  align-items: center;
}
.posts-per-page__input {
  margin-left: 10px;
  padding: 5px 10px;
  border-right: 15px;
  border: 0;
  width: 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.button {
  display: inline-block;
  border: 0;
  padding: 0 3px;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  background-color: #9E75F5;
  transition: opacity .3s;
  &:hover {
    opacity: .85;
  }
  &_delete {
    background-color: #EC6262;
  }
  &_create {
    background-color: #42b983;
  }
}

.create {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.input, .textarea{ 
  display: block;
  width: 100%;
  border: 0;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
.textarea {
  resize: none;
  min-height: 100px;
}
.form {
  max-width: 60%;
  margin: 0 auto;
}

.pagination {
  display: flex;
  justify-content: center;
  .button {
    width: 40px;
    margin-right: 15px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #2c3e50;
    transition: all 0.3s;
    &:hover,
    &.active {
      background-color: #42b983;
      color: #fff;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}